---
---

$boxShadow: #c5c5c5 2px 2px 3px 0;
$asideWidth: 300px;
$rightSideWidth: 300px;
$fontColor: #2f2f2f;
$baseFontSize: 16px;
$baseLineHeight: 1.5;

a {
    text-decoration: none;
    color: $fontColor;
    &:hover {
        color: #e25c5c;
    }
}

html {
    font-size: 10px;
}

body {
    background-image: url("/images/bg.jpg");
    color: $fontColor;
    font-weight: normal;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "PingFang SC", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    > .content {
        margin-left: $asideWidth;
        margin-right: $rightSideWidth;
        padding: 50px;
        > section,
        .pagination,
        article {
            max-width: 600px;
            background-color: #fff;
            box-shadow: $boxShadow;
            padding: 40px;
            margin-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
            .categories {
                label {
                }
            }
        }
        > section {
            > h2 {
                margin: 0;
            }
            > p {
                color: #666;
            }
            > .time {
                padding-top: 20px;
                label {
                    background-color: #bfd178;
                    color: #fff;
                    font-weight: bold;
                    padding: 3px 8px;
                    border-radius: 3px;
                    font-size: 1.2rem;
                }
            }
        }
        .pagination {
            > a,
            em {
                display: inline-block;
                padding: 5px 10px;
            }
            > em {
                color: #ccc;
            }
        }
    }
}

aside.nav-side {
    background-color: #474747;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $asideWidth;
    box-shadow: $boxShadow;
    color: #fbfbfb;
    a {
        color: #fbfbfb;
    }
    header {
        padding-top: 50px;
        img {
            border-radius: 50px;
            width: 100px;
            height: 100px;
            display: block;
            margin: auto;
        }
        h1 {
            text-align: center;
        }
    }
    nav {
        padding: 50px 30px 30px;
        ul {
            padding: 0 50px;
            margin: 0;
            > li {
                > a {
                    display: block;
                    padding: 20px 0;
                }
                list-style: none;
                text-align: center;
                font-size: 1.2em;
                background-color: #373737;
                border: 1px solid #333;
                border-top-width: 0;
                border-bottom-color: #434142;
                &:last-child {
                    border-bottom-color: #333;
                }
                &:first-child {
                    border-top-width: 1px;
                }
            }
        }
    }
}

aside.tools-side {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    .tag-cloud {
        padding: 0 15px;
    }
}

@for $i from 0 through 5 {
    h#{6-$i} {
        font-size: 1+0.3*$i+rem;
    }
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}
