<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="swBrUjhd6H"/>
    <title>{{site.title}}|{{page.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{page.tags | join: ', '}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/default.css" rel="stylesheet" type="text/css">
    <link href="/css/highlight/github.css" rel="stylesheet" type="text/css">
    <link href="/css/baidu-cse-default.css" rel="stylesheet" type="text/css">
    <link href="/css/github-markdown.css" rel="stylesheet" type="text/css">
</head>

<body>
<aside class="nav-side">
    <header>
        <img src="/images/psb.jpeg" alt="img"/>
        <h1>{{site.title}}</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">文章</a>
            </li>
            <li>
                <a href="/about.html">关于</a>
            </li>
            <li>
                <a href="/doc.html">文档</a>
            </li>
        </ul>
    </nav>
</aside>
<main class="content">
    {{content}}
</main>
<aside class="tools-side">
    <div class="search">
        <script type="text/javascript">(function() {
            document.write(unescape("%3Cdiv id=\"bdcs\"%3E%3C/div%3E"));
            var bdcs = document.createElement("script");
            bdcs.type = "text/javascript";
            bdcs.async = true;
            bdcs.src = "http://znsv.baidu.com/customer_search/api/js?sid=15949286338864251999" + "&plate_url=" +
                       encodeURIComponent(window.location.href) + "&t=" + Math.ceil(new Date() / 3600000);
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bdcs, s);
        })();</script>
    </div>
    <div class="tag-cloud">
        <h2>标签</h2>
        {% assign tags = site.tags | sort %}
        {% for tag in tags %}
        <a href="/{{ site.tag_page_dir }}/{{ tag | first | slugify }}.html" rel="{{ tag | last | size }}">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
        </a>
        {% endfor %}
    </div>
</aside>
<script src="/js/highlight.pack.js"></script>
<script src="//libs.cdnjs.net/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.tagcloud.js"></script>
<script>
    hljs.initHighlightingOnLoad();

    $.fn.tagcloud.defaults = {
        size: {start: 14, end: 32, unit: "pt"},
        color: {start: "#31eed8", end: "#c032ff"}
    };

    $(function() {
        $(".tag-cloud a").tagcloud();
    });
</script>
</body>

</html>