<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="swBrUjhd6H" />
    <title>{{site.title}}|{{page.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{page.tags | join: ', '}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/default.css" rel="stylesheet" type="text/css">
    <link href="/css/highlight/ocean.css" rel="stylesheet" type="text/css">
</head>

<body>
    <aside class="nav-side">
        <header>
            <img src="/images/psb.jpeg" alt="img" />
            <h1>{{site.title}}</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/">文章</a>
                </li>
                <li>
                    <a href="/about.html">关于</a>
                </li>
                <li>
                    <a href="/doc.html">文档</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="content">
        {{content}}
    </main>
    <aside class="tools-side">

    </aside>
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>